.App-logo {
    animation: App-logo-spin infinite 10s linear;
    height: 60px;
    
}

@keyframes App-logo-spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}

.logo {
    height: 32px;
    /* background: #333; */
    border-radius: 6px;
    margin: 16px;
    font-size: 18px;
    color: white;
    margin-left: 20px;
}

.ant-layout-sider-collapsed .anticon {
    font-size: 16px;
}

.ant-layout-sider-collapsed .nav-text {
    display: none;
}
.ant-layout-sider {
    flex: 0 0 80px;
    max-width: 80px;
    min-width: 100px!important;
    width: 80px;
}


.header{
    background-color:#001529;
    padding: 0;
}